/* universal selector  */
* {
	margin: 0;
	/* this hides the list styles */
	/* padding: 0; */
}
/* -- * -- */

/* common styles */
body {
	/* font-family: "Courier New", Courier, monospace; */
	padding: 2em;
	font-family: "Lato", sans-serif;
}

hr {
	margin: 20px 0;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th,
td {
	border: 2px solid violet;
}

ul {
	list-style: square;
}

ol {
	list-style: upper-roman;
}

div {
	border: 1px solid salmon;
	margin: 2px;
}

#boxA {
	border: 5px dashed darkorchid;
}

#boxB {
	border: 6px dotted orangered;
}

.boxC {
	border: 6px dashed black;
	height: 50px;
	width: 50px;
}

/* chaining selectors */
p.top {
	color: brown;
	margin: 25px 5px 25px 0;
	padding: 7px;
	background-color: aquamarine;
	border: 3px solid black;
}

/* border styles */
p.bottom {
	color: blueviolet;
	border-style: dashed;
	border-width: 10px;
}

/* cascade stylesheet */
/* styles are inherited by child from parents */
.outer-box {
	max-width: 70%;
	height: 100px;
	background-color: rgb(149, 121, 141);
}

/* rgb and hex */
.inner-box {
	height: 50px;
	background-color: rgba(37, 48, 200, 0.2);
}

/* nested tags */

/* cascade stylesheet   */

/* tag {
	background-image: url("");
	background-repeat: repeat;
} */

/* box model - box that wraps around every HTML element*/
/* 3 essential elements */
/* content, padding, padding, margin  */

/* Visibility */
.p-display {
	visibility: hidden;
}

.h5-display {
	display: none;
}

.span-display {
	display: block;
}
/* z-index */
/* x, y, z coordinates */
/* layers of elements over each other */
/* positions - statc */
.z-index {
	position: relative;
	width: 70%;
	height: 200px;
	background-color: yellow;
}
.neg-num,
.zero,
.one,
.two,
.three {
	position: absolute;
	width: 50%;
	height: 30px;
}
.neg-num {
	z-index: -1;
	background-color: red;
	top: 20px;
}
.zero {
	z-index: 0;
	background-color: blue;
	top: 20px;
}
.one {
	z-index: 1;
	background-color: green;
	top: 40px;
}
.two {
	z-index: 2;
	background-color: orangered;
	top: 60px;
}
.three {
	z-index: 3;
	background-color: burlywood;
	top: 70px;
}
