table {
	border-collapse: collapse;
	width: 100%;
}
th,
td {
	border: 2px solid violet;
}
ul {
	list-style: square;
}
ol {
	list-style: upper-roman;
}
div {
	border: 1px solid salmon;
	margin: 2px;
}
#boxA {
	border: 5px dashed darkorchid;
}
#boxB {
	border: 6px dotted orangered;
}
.boxC {
	border: 6px dashed black;
	height: 50px;
	width: 50px;
}
